version: '2'

services:
    rabbitmq:
        image: docker.io/bitnami/rabbitmq:3.9
        ports:
            - '4369:4369'
            - '5551:5551'
            - '5552:5552'
            - '5672:5672'
            - '25672:25672'
            - '15672:15672'

volumes:
    rabbitmq_data:
        driver: local
