---
name: Continuous Integration Build

on:
    push:
        branches:
            - main
            - 2.x
        paths-ignore:
            - '.github/**'

jobs:
    build:
        runs-on: ubuntu-latest
        continue-on-error: ${{ matrix.java.continue-on-error == true }}
        strategy:
            matrix:
                java: [
                    {'version': '8'},
                    {'version': '11'},
                    {
                        'version': '11',
                        'build_opts': '-Dkafka-container-version=latest-kafka-2.8.0 -pl smallrye-reactive-messaging-kafka --also-make',
                        'name': 'Kafka tests against Kafka Broker 2.8.0'
                    },
                    {
                        'version': '16',
                        'opts': '--illegal-access=permit' # required for kotlin
                    },
                    {
                        'version': '17',
                        'opts': '--illegal-access=permit' # required for kotlin
                    },
                    {
                        'version': '11',
                        'build_opts': '-Pslow-flaky-tests',
                        'name': 'Slow and Flaky tests',
                        'continue-on-error': true
                    }
                ]
        name: Build with Java ${{ matrix.java.version }} ${{ matrix.java.name }}
        steps:
            - uses: actions/cache@v2
              with:
                  path: ~/.m2/repository
                  key: maven-${{ hashFiles('**/pom.xml') }}
                  restore-keys: |
                      maven-
            - uses: actions/checkout@v2
            - uses: actions/setup-java@v2
              with:
                  java-version: ${{ matrix.java.version }}
                  distribution: temurin
            - name: Build with Maven
              env:
                  MAVEN_OPTS: ${{ matrix.java.opts }}
              run: |
                  mvn -s .github/ci-maven-settings.xml -B \
                    clean verify -Dtest-containers=true ${{ matrix.java.build_opts }}

    quality:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/cache@v2
              with:
                  path: ~/.m2/repository
                  key: maven-${{ hashFiles('**/pom.xml') }}
                  restore-keys: |
                      maven-
            - uses: actions/checkout@v2
            - uses: actions/setup-java@v2
              with:
                  java-version: 11
                  distribution: temurin
            - name: Coverage and Sonar
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  SONAR_TOKEN: ${{ secrets.SONAR_LOGIN }}
              run: |
                    mvn -s .github/ci-maven-settings.xml -B \
                        clean verify sonar:sonar -Pcoverage \
                        -Dsonar.projectKey=smallrye_smallrye-reactive-messaging \
                        -Dsonar.projectName="SmallRye Reactive Messaging" \
                        -Dsonar.organization=smallrye \
                        -Dsonar.host.url=https://sonarcloud.io \
                        -Dsonar.login=$SONAR_LOGIN \
                        --fail-at-end
