---
name: Continuous Integration Build

on:
    push:
        branches:
            - main
            - 3.x
        paths-ignore:
            - '.github/**'

jobs:
    build:
        runs-on: ubuntu-latest
        continue-on-error: ${{ matrix.java.continue-on-error == true }}
        strategy:
            matrix:
                java: [
                    {
                        'name': '',
                        'version': '11',
                        'build_opts': '-Drevapi.skip=true'
                    },
                    {
                        'name': '',
                        'version': '17',
                    },
                    {
                        'name': '',
                        'version': '21',
                    },
                    {
                        'name': '',
                        'version': '23',
                    },
                    {
                        'version': '21',
                        'build_opts': '-Pslow-flaky-tests -Drevapi.skip=true -Dformat.skip=true',
                        'name': 'Slow and Flaky tests',
                        'continue-on-error': true
                    }
                ]
        name: Build with Java ${{ matrix.java.version }} ${{ matrix.java.name }}
        steps:
            -   uses: actions/checkout@v4
            -   uses: actions/setup-java@v4
                with:
                    java-version: ${{ matrix.java.version }}
                    distribution: temurin
                    cache: maven
            -   name: Build with Maven
                env:
                    MAVEN_OPTS: ${{ matrix.java.opts }}
                run: |
                    mvn -s .build/ci-maven-settings.xml -Dmaven.resolver.transport=wagon -B \
                      clean install -Dtest-containers=true ${{ matrix.java.build_opts }}

    quality:
        needs: build
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v4
            -   uses: actions/setup-java@v4
                with:
                    java-version: 11
                    distribution: temurin
                    cache: maven
            -   name: Coverage and Sonar
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                    SONAR_TOKEN: ${{ secrets.SONAR_LOGIN }}
                run: |
                    mvn -s .build/ci-maven-settings.xml -B \
                        clean install sonar:sonar -Pcoverage \
                        -Dmaven.resolver.transport=wagon \
                        -Drevapi.skip=true \
                        -Dsonar.projectKey=smallrye_smallrye-reactive-messaging \
                        -Dsonar.projectName="SmallRye Reactive Messaging" \
                        -Dsonar.organization=smallrye \
                        -Dsonar.host.url=https://sonarcloud.io \
                        -Dsonar.login=$SONAR_LOGIN \
                        --fail-at-end
            -   name: Codecov
                uses: codecov/codecov-action@v4.5.0
                if: false
