---
name: Pull Request Build

on:
    pull_request:
        branches:
            - main
            - 3.x
            - 3.13.x

jobs:
    build:
        runs-on: ubuntu-latest
        continue-on-error: ${{ matrix.java.continue-on-error == true }}
        strategy:
            matrix:
                java: [
                    {
                        'name': '',
                        'version': '11',
                        'build_opts': '-Drevapi.skip=true'
                    },
                    {
                        'name': '',
                        'version': '17',
                    },
                    {
                        'name': '',
                        'version': '21',
                    },
                    {
                        'name': '',
                        'version': '23',
                    },
                    {
                        'version': '21',
                        'build_opts': '-Pslow-flaky-tests -Drevapi.skip=true -Dformat.skip=true',
                        'name': 'Slow and Flaky tests',
                        'continue-on-error': true
                    }
                ]
        name: Build with Java ${{ matrix.java.version }} ${{ matrix.java.name }}
        steps:
            -   uses: actions/checkout@v4
            -   uses: actions/setup-java@v4
                with:
                    java-version: ${{ matrix.java.version }}
                    distribution: temurin
                    cache: maven
            -   name: Build with Maven
                env:
                    MAVEN_OPTS: ${{ matrix.java.opts }}
                run: |
                    mvn -s .build/ci-maven-settings.xml -Dmaven.resolver.transport=wagon \
                       -B clean install -Pcoverage -Dtest-containers=true ${{ matrix.java.build_opts }}
            -   name: Codecov
                uses: codecov/codecov-action@v4.5.0
                if: false
