---
name: Continuous Integration Build

on:
    push:
        branches:
            - master
        paths-ignore:
            - '.github/**'

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                java: [
                    {'version': '8', 'source': 'releases'},
                    {'version': '11', 'source': 'releases'},
                    {'version': '14', 'source': 'releases'}
#                    {'version': '15', 'source': 'nightly'}
                ]
        name: Build with Java ${{ matrix.java.version }}
        steps:
            - uses: actions/cache@v2
              with:
                  path: |
                      ~/.m2/repository
                      !~/.m2/repository/**/*-SNAPSHOT/*
                  key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
                  restore-keys: |
                      ${{ runner.os }}-maven-
            - uses: actions/checkout@v2
            - uses: AdoptOpenJDK/install-jdk@v1
              with:
                  version: ${{ matrix.java.version }}
                  source: ${{ matrix.java.source }}
            - name: Build with Maven
              run: |
                  mvn -B clean install --file pom.xml \
                    -Dmaven.wagon.httpconnectionManager.ttlSeconds=120 \
                    -Dmaven.wagon.http.retryHandler.requestSentEnabled=true \
                    -Dmaven.wagon.http.retryHandler.count=10

    quality:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - name: Install JDK 1.8
              uses: actions/setup-java@v1
              with:
                  java-version: 1.8
            - name: Coverage and Sonar
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  SONAR_TOKEN: ${{ secrets.SONAR_LOGIN }}
              run: |
                    mvn clean verify sonar:sonar -Pcoverage \
                        -Dsonar.projectKey=smallrye_smallrye-reactive-messaging \
                        -Dsonar.projectName="SmallRye Reactive Messaging" \
                        -Dsonar.organization=smallrye \
                        -Dsonar.host.url=https://sonarcloud.io \
                        -Dsonar.login=$SONAR_LOGIN \
                        --fail-at-end

    up_to_date_antora:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - name: Install JDK 1.8
              uses: joschi/setup-jdk@v1.0.0
              with:
                  java-version: 'openjdk8'
            - name: Build with Maven
              # Fail the build is the antora.yaml becomes out of date
              run: |
                  mvn install -DskipTests \
                     -Dmaven.wagon.httpconnectionManager.ttlSeconds=120 \
                     -Dmaven.wagon.http.retryHandler.requestSentEnabled=true \
                     -Dmaven.wagon.http.retryHandler.count=10
                  mvn -pl documentation scm:check-local-modification \
                     -Dincludes=src/main/doc/antora.yml
