---
name: Pull Request Build

on:
    pull_request:
        branches:
            - main
            - 3.x

jobs:
    build:
        runs-on: ubuntu-latest
        continue-on-error: ${{ matrix.java.continue-on-error == true }}
        strategy:
            matrix:
                java: [
                    {
                        'name': '',
                        'version': '11',
                        'build_opts': '-Drevapi.skip=true'
                    },
                    {
                        'name': '',
                        'version': '17',
                    },
                    {
                        'version': '11',
                        'build_opts': '-Pslow-flaky-tests -Drevapi.skip=true',
                        'name': 'Slow and Flaky tests',
                        'continue-on-error': true
                    }
                ]
        name: Build with Java ${{ matrix.java.version }} ${{ matrix.java.name }}
        steps:
            -   uses: actions/cache@v2
                with:
                    path: ~/.m2/repository
                    key: maven-${{ hashFiles('**/pom.xml') }}
                    restore-keys: |
                        maven-
            -   uses: actions/checkout@v2
            -   uses: actions/setup-java@v2
                with:
                    java-version: ${{ matrix.java.version }}
                    distribution: temurin
            -   name: Build with Maven
                env:
                    MAVEN_OPTS: ${{ matrix.java.opts }}
                run: |
                    mvn -s .github/ci-maven-settings.xml \
                       -B clean install -Pcoverage -Dtest-containers=true ${{ matrix.java.build_opts }}
            -   name: Codecov
                uses: codecov/codecov-action@v1.0.13
