name: Deploy Docs
run-name: Deploy ${{github.event.inputs.version || github.ref_name}} Docs

on:
    workflow_dispatch:
        inputs:
            version:
                description: 'Release version'

jobs:
    deploy-docs:
        runs-on: ubuntu-latest

        steps:
            - name: Git checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - name: Java setup
              uses: actions/setup-java@v4
              with:
                  java-version: '17'
                  distribution: 'temurin'
                  cache: maven
            - name: Install just
              uses: taiki-e/install-action@just
            - name: Setup Python
              uses: actions/setup-python@v5
              with:
                  python-version: 3.9
                  cache: 'pipenv'
                  cache-dependency-path: documentation/Pipfile.lock
            - name: Install pipenv
              run: pip install pipenv
            - name: Perform the deploy docs
              run: just build-ci deploy-docs ${{ github.event.inputs.version }}
