---
name: Release
on: [deployment]

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
              with:
                  ref: 'main'
            - uses: actions/cache@v2
              with:
                  path: ~/.m2/repository
                  key: maven-${{ hashFiles('**/pom.xml') }}
                  restore-keys: |
                    maven-
            - uses: actions/checkout@v2
            - uses: AdoptOpenJDK/install-jdk@v1
              with:
                  version: 8
            - name: 'Run deployment for ${{ github.event.deployment.environment }}'
              env:
                  GITHUB_TOKEN: ${{ secrets.GH_API_SECRET }}
                  SECRET_FILES_PASSPHRASE: ${{ secrets.SECRET_FILES_PASSPHRASE }}
                  MILESTONE: ${{ github.event.deployment.payload.milestone }}
                  BUMP_TO_NEXT: ${{ github.event.deployment.payload.bump-to-next }}
              run: |
                  sudo apt-get update -o Dir::Etc::sourcelist="sources.list" \
                    -o Dir::Etc::sourceparts="-" -o APT::Get::List-Cleanup="0"
                  sudo apt-get install -y gnupg2 gnupg-agent

                  echo Installing SDKMAN
                  curl -s "https://get.sdkman.io" | bash
                  source ~/.sdkman/bin/sdkman-init.sh && \
                    sdk install kotlin 1.3.61 && \
                    sdk install kscript 2.9.0

                  chmod +x .github/deploy.sh .github/decrypt-secrets.sh .github/deploy-doc.sh

                  .github/decrypt-secrets.sh

                  .github/deploy.sh ${{ github.event.deployment.environment }}

            - name: update deploy status
              if: always()
              uses: unacast/actions-github-deployment-status@0.2
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  status: ${{ job.status }}
